.calculator{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 340px;
}

.title {
  font-family: "tekton-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 28px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.text{
  padding: 8px 4px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
}

.pricing > div {
  display: flex;
  justify-content: space-between;
}

.calculate-btn{
  background-color: var(--main-color);
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 6px;
  margin-top: 12px;
  margin-bottom: 8px;
  cursor: pointer;
}

.calculate-btn:hover {
  background-color: darkslategray;

}

label{
  cursor: pointer;
}